@import "tailwindcss";

body{
    background-color: #1e1e1e;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    display: none;
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Dark gray background for the track */
}

::-webkit-scrollbar-thumb {
    background: #606060; /* Black color for the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Slightly lighter gray on hover */
}

/* Firefox */
scrollbar {
    width: 12px; /* Same width for Firefox */
    height: 12px; /* Same height for horizontal scrollbar */
}

scrollbar-track {
    background: #333; /* Dark gray for track */
}

scrollbar-thumb {
    background: #000; /* Black thumb */
    border-radius: 10px; /* Rounded thumb */
}

scrollbar-thumb:hover {
    background: #555; /* Hover effect for thumb */
}
